.main-color {
  background-color: rgb(255, 255, 255);
  border: 1px solid #d3d3d3;
}
.footer {
  background-color: rgb(21, 21, 21);
  color: aliceblue;
}
.ff {
  margin-top: -4rem;
}
body {
  background-color: rgb(238, 238, 238);
}
.input-nav {
  border-radius: 3px;
  border: 0;
  width: 200px;
}
.last {
  font-weight: bold;
  margin: 1.6rem;
}
.tdf {
  float: right;
  font-size: small;
  opacity: 0.4;
}

h2 {
  margin-block-start: 2rem;
  margin-inline-start: 3rem;
}

em {
  display: contents;
}
ul {
  list-style-type: none;
}
li {
  border: 1px solid #d3d3d3;
  width: 175px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(239, 239, 239);
}

.side-box {
  width: 95px;
  height: 125px;
  background-color: coral;
  display: inline-block;
  float: left;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.list {
  display: contents;
}
.docu-text {
  border-bottom: 1px dotted #94b1df;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.container {
  width: 95%;
}
.content {
  margin-bottom: -5rem;
  margin-right: -2rem;
}
.opacity {
  opacity: 0.4;
}
.text-box {
  background-color: rgb(42, 42, 42);
  color: rgb(245, 240, 234);
  margin-bottom: -3rem;
}
.movie-box {
  background-color: blueviolet;
  width: 150px;
  height: 190px;
  display: inline-block;
  float: left;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 34, 34);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav-titel {
  color: wheat;
}
.navbar-actions {
  display: flex;
}

.btn {
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  color: white;
}

.btn1 {
  background-color: rgb(7, 117, 201);
  width: 100px;
}
.btn2 {
  background-color: rgb(5, 79, 48);

  width: 50px;
}
.btn3 {
  background-color: rgb(129, 121, 12);
  width: 80px;
  margin-right: 3px;
}
button:hover {
  color: black;
}
li:hover {
  background-color: #94b1df;
}

.box1 {
  background-color: brown;
  width: 150px;
  height: 200px;
  margin: 20px;
}
.box2 {
  background-color: brown;
  width: 150px;
  height: 200px;
  margin: 20px;
}
.box3 {
  background-color: brown;
  width: 150px;
  height: 200px;
  margin: 20px;
}
.INCENTIVE {
  margin-top: 2.5rem;
  margin-bottom: -2.5rem;
}
.featured-doc {
  margin-top: -2.5rem;
  margin-bottom: -3.5rem;
}
.ad {
  background-color: bisque;
  width: 150px;
  height: 200px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.search {
  border: 1px solid #ccc;
  width: 190px;
  height: 30px;
  border-radius: 6px;
}
button {
  display: inline-block;
}
.button-1 {
  background: #4ca454 !important;
  border: none;
  border-radius: 6px;
  color: azure;
  padding: 5px 12px !important;
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 100px;
  cursor: pointer;
  float: inline-end;
}
.button-2 {
  background: rgb(76, 135, 222);
  border: none;
  border-radius: 6px;
  color: azure;
  padding: 5px 12px !important;
  text-transform: uppercase;
  font-weight: 700;
  width: 100px;
  cursor: pointer;
  float: inline-end;
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 5px;
  height: 5px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook {
  background: white;
  color: black;
  width: 5px;
  height: 5px;
}
.fa-twitter {
  color: white;
  width: 5px;
  height: 5px;
  margin-left: 15px;
}
.fa-rss {
  color: white;
  width: 5px;
  height: 5px;
  margin-left: 15px;
}
.fa:hover {
  background-color: cornflowerblue;
}
.footer-input {
  width: 250px;
  height: 25px;
  border-radius: 6px;
  border: 0;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .my-navbar {
    flex-direction: column;
    text-align: center;
  }
  .navbar-actions {
    display: inline;
    margin: 14px -4px 0 -4px;
  }
  .btn {
    width: 140px;
  }
  input {
    width: 450px;
  }
  .add {
    margin-top: 3rem;
  }
  .ff {
    margin-top: -1rem;
  }
}

@media only screen and (max-width: 770px) {
  .my-navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
